<!DOCTYPE html>
<html lang="ja">
   <head>
      <meta charset="utf-8" />
      <meta name="robots" content="index, follow" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
      <meta http-equiv="x-ua-compatible" content="ie=edge" />
      <meta name="author" content="{{ site.github_username }}" />
      <meta name="description" content="{{ site.description }}" />
      <title>{{ site.title }}</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.4.1/spectre.min.css" integrity="sha256-0p3um/VT9Dg55RvZ1VDO5paYsmIW6omd6Ex7b3aVk/I=" crossorigin="anonymous" />
   </head>
   <body>
      <header>
         <h1><a href="{{ site.url | append: site.baseurl }}">{{ site.title }}</a></h1>
      </header>
      <section>
         {{ content }}
      </section>
      <footer>
         <p>フッター</p>
      </footer>
      <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter45491226 = new Ya.Metrika({ id:45491226, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/45491226" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
   </body>
</html>
